<footer>
    <div class="footer-wrapper">
      <div class="footer-area footer-padding">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10">
              <div class="single-footer-caption mb-50">
                <div class="single-footer-caption mb-30">
  
                  <div class="footer-logo mb-25">
                    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><img width="80" src="assets/images/ms-logo.png" alt=""> Mesha Sound</a>
                  </div>
                  <div class="footer-tittle">
                    <div class="footer-pera">
                      <p>O site preferido dos exploradores de música</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Navegação</h4>
                  <ul>
                    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
                    <li><a routerLink="/history" routerLinkActive="active" ariaCurrentWhenActive="page">Histórico</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>