
<header>
    <div class="header-area header-transparent">
      <div class="main-header ">
        <div class="header-bottom  header-sticky">
          <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between flex-wrap position-relative" style="padding-top: 15px; padding-bottom: 15px;">
  
              <div class="logo">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img width="80" src="assets/images/ms-logo.png" alt=""> Mesha Sound</a>
              </div>  

              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <main>
  
    <div class="slider-area position-relative">
      <div class="slider-active">
  
        <div class="single-slider slider-bg1 d-flex align-items-center" style="min-height: 60vh;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="hero-caption text-center">
                  <span>Simples, rápido e preciso!</span>
                  <h1 data-animation="fadeInUp" data-delay=".2s">Veja aqui suas playlists já feitas</h1>
                </div>
              </div>
              <div id="content-history" class="container" >
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </main>
  
  <div id="back-top">
    <a title="Go to Top" href="#"><i class="fas fa-long-arrow-alt-up"></i></a>
  </div>  