<div class="card">
    <div class="card-header d-flex justify-content-between">
      <div><span id="city">cidade</span><span> - </span><span id="temp">temperatura°</span></div>
      <div><span>Com esse clima, recomendamos <strong>genero</strong></span><a href="#" onclick="salvar()" class="btn_01 p-2 ml-15">Salvar</a></div>
    </div>
    <div class="card-body style-1" style="overflow-y: scroll; height:400px;">
      <h4><strong>Top Artistas</strong></h4>
      list2
      <h4><strong>Top Músicas</strong></h4>
      list1
    </div>
</div>